<header class="header">
    <div class="header__container">
        <a href="/" class="header__logo">Олег-Холод <span class="header__logo--accent">CRM</span></a>
        
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li><a href="/" class="header__link">Новый заказ</a></li>
                <li><a href="/journal" class="header__link">📋 Журнал заказов</a></li>
                <li><a href="/installers_page" class="header__link">Монтажники</a></li>
                <li class="header__status"><span class="header__dot"></span> Системa Online</li>
            </ul>
        </nav>
    </div>
</header>