<section class="orders-list">
    <div class="orders-list__container">
        <h2 class="orders-list__title">Журнал заказов</h2>
        <table class="orders-table">
            <thead class="orders-table__head">
                <tr class="orders-table__row">
                    <th class="orders-table__th">Клиент</th>
                    <th class="orders-table__th">Адрес</th>
                    <th class="orders-table__th">Модель</th>
                    <th class="orders-table__th">Цена</th>
                </tr>
            </thead>
            <tbody id="ordersTableBody" class="orders-table__body">
                </tbody>
        </table>
    </div>
</section>