{% macro phone_input(id, value='') %}
<div class="field-group">
    <label for="{{ id }}">Телефон / Связь</label>
    
    <div class="phone-input-container"> <input 
            type="tel" 
            id="{{ id }}" 
            name="{{ id }}"
            value="{{ value if value else '+7' }}" 
            class="phone-mask"
            placeholder="+7 (999) 000-00-00"
            maxlength="18"
            required
        >
        
        <div class="phone-actions">
            <a href="#" id="call_{{ id }}" class="action-btn hidden">📞</a>
            <a href="#" id="tg_{{ id }}" target="_blank" class="action-btn hidden">✈️</a>
        </div>
    </div>
</div>
{% endmacro %}