<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Монтажники | Олег-Холод</title>
    <link rel="stylesheet" href="/static/css/blocks/header.css" />
    <link rel="stylesheet" href="/static/css/blocks/footer.css" />
    <link rel="stylesheet" href="/static/css/blocks/installers.css" />
  </head>
  <body>
    {% include "components/header.html" %}

  <main class="content">
    <div class="installer-profile">
        <header class="profile-header">
            <h1>Карточка мастера: <span id="master_fio">...</span></h1>
            <span id="master_rating" class="badge">⭐ 10</span>
        </header>

        <section class="profile-grid">
            <div class="profile-card">
                <h3>Контактные данные</h3>
                <p><strong>Телефон:</strong> <span id="master_phone"></span></p>
                <p><strong>Спец:</strong> <span id="master_spec"></span></p>
                <p><strong>Базовая цена:</strong> <span id="master_price"></span> ₽</p>
            </div>

            <div class="profile-orders">
                <h3>Заказы в работе</h3>
                <table class="orders-table">
                    <thead>
                        <tr>
                            <th>№ Заказа</th>
                            <th>Клиент</th>
                            <th>Адрес</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody id="masterOrdersBody">
                        </tbody>
                </table>
            </div>
        </section>
    </div>
</main>

    {% include "components/footer.html" %}
    <script src="/static/js/installers_page.js"></script>
  </body>
</html>
